<header class="w-[192px] h-full flex z-50 bg-neutral_1 drop-shadow-soft-bot-right">
  <div class="w-full h-full flex flex-col items-center justify-between" x-data="{ items: ['transactions', 'cards', 'products', 'brands', 'services'] }">
    <div class="w-full h-[128px] bg-red-500"></div>
    <div class="w-full grow flex flex-col items-center justify-center">
      <template x-for="item in items">
        <button class="w-full h-[64px] flex items-center justify-between hover:bg-neutral_0">
          <div class="w-[64px] h-[64px] flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg>
          </div>
          <div class="w-full h-[64px] flex items-center justify-between" x-text="item"></div>
        </button>
      </template>
    </div>
    <div class="w-full h-[128px] bg-red-500"></div>
  </div>
  <div class="w-[8px] h-full flex items-center justify-center hover:bg-neutral_0">
    <div class="w-[4px] h-[64px] bg-neutral_9 hover:bg-neutral_7"></div>
  </div>
</header>