<!DOCTYPE html>
<html data-theme="custom_light">
  <head>
    <meta charset="UTF-8" />
    <title>financial-app</title>
    <script>var imports = {};</script>
    <script>var exports = {};</script>
    <link rel="stylesheet" href="../../static/scripts/styles/index.css">
    <script src="../../static/scripts/renderer.js" defer></script>
  </head>
  <body>
      <div class="w-screen h-screen flex items-center justify-center">
        <header id="header-container" class="w-[192px] h-full flex z-50"></header>
        <div id="main-content" class="h-full grow flex z-100 bg-neutral_2"></div>
      </div>
  </body>
</html>